<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<link rel="stylesheet" href="/assets/main.css">
<div class="social-links">
    <a href="https://twitter.com/thomaszareczky"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/czky"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/thomasczky/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/thomas-andrei-zareczky-3b61b0249/"><i class="fab fa-linkedin"></i></a>
</div>